.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-three {
    flex: 2;
  }

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}