/*contacts*/  
.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    flex-direction: column;
}

.contacts-header {
    display: block;
    width:350px;
    color: #dd719a;
    font-size: 24px;
    padding-bottom: 10px;
}

.contact-text {
    color: grey;
    font-size: 16px;
    display: block;
    width:350px;
    margin-bottom: 5px;
}

.icon-class {
    margin-right: 10px;
}
