/*about*/  
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.header-item {
    color: white;
    font-size: 24px;
    background-color: white;
}