/*photo-grid*/  
.photo-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: pink;
    padding: 20px 0;
}

.photo-grid-item {
    color: white;
    font-size: 24px;
}
