/*photo-grid*/  
.photo-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: pink;
    padding: 20px 0;
}

.photo-grid-item {
    font-size: 24px;
}

.grid-text {
    display: block;
    width:350px;
    color: rgb(88, 85, 85);
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
}

.img-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 350px;
    margin-bottom: 10px;
}
  
.pic {
    display: block;
}